@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 20px !important;
}

/* Hide the scrollbar track */
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Hide the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: #1d1d1d7a;
  border-radius: 5px;
}

/* Set scrollbar width and height */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
